---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<script>
  const COLORS = ["#0bf", "#f0b", "#fb0", "#b0f"];

  const getRandomColor = (): string =>
    COLORS[Math.floor(Math.random() * COLORS.length)];

  const colorizeText = (): void => {
    const colorfulText = document.querySelector(".colorful");
    if (!colorfulText) return;

    const text = colorfulText.textContent;
    if (!text) return;

    const coloredText = text
      .split("")
      .map((char) => `<span style="color: ${getRandomColor()}">${char}</span>`)
      .join("");

    colorfulText.innerHTML = coloredText;
  };

  colorizeText();
</script>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>🧑‍🚀 Hi again!</h1>
      <p>Why again?</p>
      <p>
        Because this is my <i>some_humorous_number</i> attempt at building a blog.
      </p>
      <p>
        I'm Dave, a Software Engineer that has gone off the deep end with AWS,
        cloud, and security. Sometimes you will see me in the arcades of various
        Tokyo districts, stomping away at <span class="colorful"
          >flying colored arrows</span
        >
        (Dance Dance Revolution reference), or pondering my life decisions as I try
        to make sense of Jenkins.
        <p>
          I care a lot about page performance, so I aim to keep a lighthouse
          score above 85 at all times. This means that my site will probably be
          faster than most blogs you will find. This isn't actually my doing,
          it's because I'm using astrojs.
        </p>
        <ul>
          <li>Edit this page in <code>src/pages/index.astro</code></li>
          <li>
            Edit the site header items in <code
              >src/components/Header.astro</code
            >
          </li>
          <li>
            Add your name to the footer in <code
              >src/components/Footer.astro</code
            >
          </li>
          <li>
            Check out the included blog posts in <code>src/pages/blog/</code>
          </li>
          <li>
            Customize the blog post page layout in <code
              >src/layouts/BlogPost.astro</code
            >
          </li>
        </ul>
        <p>
          Have fun! If you get stuck, remember to <a
            href="https://docs.astro.build/"
            >read the docs
          </a> or <a href="https://astro.build/chat">join us on Discord</a> to ask
          questions.
        </p>
        <p>
          Looking for a blog template with a bit more personality? Check out <a
            href="https://github.com/Charca/astro-blog-template"
            >astro-blog-template
          </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
        </p>
      </p>
      <Footer />
    </main>
  </body>
</html>
